robot-nodered.txt
[{"id":"dc083154.23f7d","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"voicecmd_en","commandType":"","format":"json","name":"voicecmd_en","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":274.89581298828125,"y":318,"wires":[["6e1f8195.91e08","2effc036.d1004"]]},{"id":"6a00739f.95ff8c","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"payload","x":627.8958129882812,"y":289,"wires":[]},{"id":"6e1f8195.91e08","type":"function","z":"ec9d5035.1362b","name":"","func":"var cmd_enable;\n\nif (msg.payload.results[0].alternatives[0].transcript.indexOf('addicts') > -1 || msg.payload.results[0].alternatives[0].transcript.indexOf('Alex') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('annex') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf(\"Iraq's\") > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('annex') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf(\"and is\")>-1||msg.payload.results[0].alternatives[0].transcript.indexOf(\"and his\") > -1\n||msg.payload.results[0].alternatives[0].transcript.indexOf(\"Alice\") > -1||msg.payload.results[0].alternatives[0].transcript.indexOf(\"Addis\") > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf(\"Addis\") > -1) { \n  cmd_enable=1;\n  msg.payload=cmd_enable;\n  return msg;\n}\nelse\n{\n    cmd_enable=0;\n}\n","outputs":1,"noerr":0,"x":427.89581298828125,"y":311.99999237060547,"wires":[["6a00739f.95ff8c","b14961c5.4eb6a"]]},{"id":"b14961c5.4eb6a","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"ENABLE_CMD_EN","format":"int","data":"msg.payload","name":"ENABLE_CMD_EN","service":"registered","x":644.8958129882812,"y":339,"wires":[]},{"id":"a1a9f39f.5e561","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"payload","x":504.89581298828125,"y":491,"wires":[]},{"id":"2effc036.d1004","type":"function","z":"ec9d5035.1362b","name":"","func":"var voicecmd = '#M0';\nvar after_en=msg.payload.after_en;\nmsg1 = { payload:\"\" };\n\n//if (msg.payload.results[0].alternatives[0].transcript.indexOf('addicts') > -1 || msg.payload.results[0].alternatives[0].transcript.indexOf('Alex') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('annex') > -1  ) {\nif (msg.payload.results[0].alternatives[0].transcript.indexOf('your name') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('introduce') > -1 ) { \n   \n    msg1.payload='introduction_en';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('stop') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('freez') > -1 ) { \n   \n    msg1.payload='Halted';\n    \n    msg=msg1;\n    return msg;\n}  else if (msg.payload.results[0].alternatives[0].transcript.indexOf('walk') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('come') > -1 ) { \n   \n    msg1.payload='walk';\n    \n    msg=msg1;\n    return msg;\n}  else if (msg.payload.results[0].alternatives[0].transcript.indexOf('picture') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('camera') > -1 ) { \n   \n    msg1.payload='picture';\n    \n    msg=msg1;\n    return msg;\n}\n else if (msg.payload.results[0].alternatives[0].transcript.indexOf('dance') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('music') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('dense') > -1 ) { \n   \n    msg1.payload='dance';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('quiet') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('silence') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('shut up') > -1 ) { \n   \n    msg1.payload='quiet';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('love') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('I love you') > -1) { \n   \n    msg1.payload='love';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('stupid') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('ugly') > -1) { \n   \n    msg1.payload='stupid';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('hello') > -1) { \n   \n    msg1.payload='Hello_en';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('can you do') > -1) { \n   \n    msg1.payload='what can I do';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('boyfriend') > -1|| msg.payload.results[0].alternatives[0].transcript.indexOf('boy friend') > -1) { \n   \n    msg1.payload='boy friend';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('right') > -1) { \n   \n    msg1.payload='right';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('left') > -1) { \n   \n    msg1.payload='left';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('back') > -1) { \n   \n    msg1.payload='back';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('get away') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('你 当 到') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf(' 你 挡住') > -1) { \n   \n    msg1.payload='move away';\n    \n    msg=msg1;\n    return msg;\n}\n//}\n","outputs":1,"noerr":0,"x":414.89581298828125,"y":432,"wires":[["60d9a0a6.9f266","6a00739f.95ff8c"]]},{"id":"60d9a0a6.9f266","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"en_output","format":"string","data":"msg.payload","name":"en_behavior","service":"registered","x":625.8958129882812,"y":421,"wires":[]},{"id":"e363226a.1c9ce","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"rpi","eventType":"imageface","commandType":"","format":"json","name":"Face Detection","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":264.89581298828125,"y":555,"wires":[["d6ee03fa.2912","a1a9f39f.5e561"]]},{"id":"8f93a68d.706c58","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"rpi","eventType":"imagekeyword","commandType":"","format":"json","name":"Image Identify","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":263.89581298828125,"y":668,"wires":[["105a97a4.efa568","101d4899.efe2b7"]]},{"id":"101d4899.efe2b7","type":"cloudant out","z":"ec9d5035.1362b","service":"firstibmtest-cloudantNoSQLDB","cloudant":"","name":"","database":"rapiro_image","payonly":true,"operation":"insert","x":362.89581298828125,"y":731,"wires":[]},{"id":"105a97a4.efa568","type":"function","z":"ec9d5035.1362b","name":"","func":"var keywords = msg.payload.imageKeywords;\nvar imgname = msg.payload.name;\n//if(keywords[0].text=='NO_TAGS')\n//msg.payload ='';\n//else\nmsg.payload = 'You looks like the '+keywords[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":576.8958129882812,"y":702,"wires":[["a20672cf.5df99"]]},{"id":"ea51f3f6.15ae1","type":"function","z":"ec9d5035.1362b","name":"","func":"function parseAgeRange(ageRange) {                                                         \n    if (ageRange.indexOf('<') !== -1) {                                                    \n        return parseInt(ageRange.split('<')[1], 10);                                       \n    } else if (ageRange.indexOf('>') !== -1) {                                             \n        return parseInt(ageRange.split('>')[1], 10);                                       \n    } else {                                                                               \n        var min = parseInt(ageRange.split('-')[0], 10),                                    \n            max = parseInt(ageRange.split('-')[1], 10);                                    \n        return min;                                     \n    }                                                                                      \n}\n\n\n    var age = 0, faces = msg.payload.imageFaces;\n    if (faces.length !== 0) {\n        age = parseAgeRange(faces[0].age.ageRange);\n    }\n\n    if (age === 0) {\n      //  msg.payload = '不好意思，我猜不出來！';\n        msg.payload = 'Sorry , I can not guess your age'\n    } else {\n       \n       // msg.payload.text = '我覺得你看起來像'+age+'歲';\n       // msg.payload = 'You are a '+faces[0].gender.gender+' and';\n       // msg.payload = msg.payload+ ' You looks like '+age+' years old';\n       // msg.payload = msg.payload+ 'Your name should be '+faces[0].identity.name;\n        msg.payload='you looks like '+age+ ' years old. And you are a ' + faces[0].gender.gender;    \n        \n    }\n  //var gender = faces[0].gender.gender;\n  \n  // var msg1 = {payload:gender}\n   var msg2 = {payload:'Your name is '}\n   if(faces[0].identity)\n  {// msg2.payload='Your name is '+faces[0].identity.name;\n  \n      msg.payload+=' Your name is '+faces[0].identity.name;\n  }\n    //msg.res.send('Ok');\n\nreturn msg;","outputs":1,"noerr":0,"x":574.8958129882812,"y":553,"wires":[["a20672cf.5df99"]]},{"id":"d6ee03fa.2912","type":"delay","z":"ec9d5035.1362b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":435.89581298828125,"y":555,"wires":[["ea51f3f6.15ae1"]]},{"id":"d04d7231.2fb29","type":"function","z":"ec9d5035.1362b","name":"","func":"var cmd_enable;\n\nif (msg.payload.results[0].alternatives[0].transcript.indexOf('利斯') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('annex') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf(\"爱 丽 丝\") > -1|| msg.payload.results[0].alternatives[0].transcript.indexOf('埃里') > -1 ||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('埃利') > -1||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('哀思') > -1||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('埃勒') > -1||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('离职') > -1||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('艾 勒 死') > -1||\nmsg.payload.results[0].alternatives[0].transcript.indexOf('哎 累死') > -1)\n{ \n  cmd_enable=1;\n  msg.payload=cmd_enable;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":445.89581298828125,"y":133,"wires":[["4e33f319.b1cc0c","c7fb1386.3804f"]]},{"id":"4e33f319.b1cc0c","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"ENABLE_CMD_CH","format":"int","data":"msg.payload","name":"ENABLE_CMD_CH","service":"registered","x":656.8958129882812,"y":126,"wires":[]},{"id":"4e066128.b1f9a","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"en_tts_output","format":"string","data":"msg.payload","name":"en_tts","service":"registered","x":1545.895751953125,"y":969.0001831054688,"wires":[]},{"id":"c8e584f5.371a78","type":"function","z":"ec9d5035.1362b","name":"","func":"var voicecmd = '#M0';\nvar after_en=msg.payload.after_en;\nmsg1 = { payload:\"\" };\n\n//if (msg.payload.results[0].alternatives[0].transcript.indexOf('addicts') > -1 || msg.payload.results[0].alternatives[0].transcript.indexOf('Alex') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('annex') > -1  ) {\nif (msg.payload.results[0].alternatives[0].transcript.indexOf('介紹') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('名字') > -1 ) { \n   \n    msg1.payload='introduction_ch';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('停') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('别动') > -1 ) { \n   \n    msg1.payload='Halted';\n    \n    msg=msg1;\n    return msg;\n}  else if (msg.payload.results[0].alternatives[0].transcript.indexOf('往前') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('过来') > -1 ) { \n   \n    msg1.payload='walk';\n    \n    msg=msg1;\n    return msg;\n}  else if (msg.payload.results[0].alternatives[0].transcript.indexOf('照') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('拍照') > -1 ) { \n   \n    msg1.payload='picture';\n    \n    msg=msg1;\n    return msg;\n}\n else if (msg.payload.results[0].alternatives[0].transcript.indexOf('跳') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('舞') > -1 ) { \n   \n    msg1.payload='dance';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('安静') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('闭嘴') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('shut up') > -1 ) { \n   \n    msg1.payload='quiet';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('我爱 你') > -1 ) { \n   \n    msg1.payload='love';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('笨') > -1 ||msg.payload.results[0].alternatives[0].transcript.indexOf('丑') > -1) { \n   \n    msg1.payload='stupid';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('你好') > -1) { \n   \n    msg1.payload='Hello_ch';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('做什么') > -1) { \n   \n    msg1.payload='what can I do';\n  //  msg1.payload='hhh';\n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('恭喜发财') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('新年 快乐') > -1) { \n   \n    msg1.payload='happy new year';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('男朋友') > -1) { \n   \n    msg1.payload='boy friend';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('右') > -1) { \n   \n    msg1.payload='right';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('左') > -1) { \n   \n    msg1.payload='left';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('后退') > -1) { \n   \n    msg1.payload='back';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('你 挡 道') > -1||msg.payload.results[0].alternatives[0].transcript.indexOf('你 当 到') > -1\n||msg.payload.results[0].alternatives[0].transcript.indexOf(' 你 挡住') > -1\n||msg.payload.results[0].alternatives[0].transcript.indexOf(' 你 挡 到') > -1\n||msg.payload.results[0].alternatives[0].transcript.indexOf(' 你 挡住') > -1) { \n   \n    msg1.payload='move away';\n    \n    msg=msg1;\n    return msg;\n}\nelse if (msg.payload.results[0].alternatives[0].transcript.indexOf('天气') > -1) { \n   \n    msg1.payload='weather';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('汇率') > -1) { \n   \n    msg1.payload='stock';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('维修站') > -1) { \n   \n    msg1.payload='fix';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('切换') > -1) { \n   \n    msg1.payload='tc_switch';\n    \n    msg=msg1;\n    return msg;\n}else if (msg.payload.results[0].alternatives[0].transcript.indexOf('我 是谁') > -1) { \n   \n    msg1.payload='classify';\n    \n    msg=msg1;\n    return msg;\n}\n//}\n","outputs":1,"noerr":0,"x":435.89581298828125,"y":205,"wires":[["9778c010.68874","17c8a038.e8376"]]},{"id":"9778c010.68874","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"ch_output","format":"string","data":"msg.payload","name":"ch_behavior","service":"registered","x":654.8958129882812,"y":193,"wires":[]},{"id":"3cd51859.c32ae8","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"ch_tts_output","format":"string","data":"msg.payload","name":"ch_tts","service":"registered","x":2218.8958740234375,"y":419.0000457763672,"wires":[]},{"id":"c7fb1386.3804f","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"payload","x":571.8958129882812,"y":97,"wires":[]},{"id":"17c8a038.e8376","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":631.8958129882812,"y":236,"wires":[]},{"id":"a49f221d.5b60e","type":"function","z":"ec9d5035.1362b","name":"set google translate API properties","func":"\n// from http\n//var qStr=msg.payload;\n\n// from IOT\nvar qStr=msg.payload.results[0].alternatives[0].transcript;\n\nvar apiKey=\"AIzaSyAJtXyk1TA9wzLYvRySR-y1E3OtBEurdhE\";\nmsg.url=\"https://www.googleapis.com/language/translate/v2?key=\" + apiKey + \"&source=zh&target=en&q=\" + qStr;\nreturn msg;","outputs":1,"noerr":0,"x":1084.0499572753906,"y":208.5,"wires":[["80646673.7f9b98"]]},{"id":"80646673.7f9b98","type":"http request","z":"ec9d5035.1362b","name":"","method":"GET","ret":"txt","url":"","x":1169.0499572753906,"y":146.5,"wires":[["9ea6c7f8.615938"]]},{"id":"9ea6c7f8.615938","type":"function","z":"ec9d5035.1362b","name":"get translated payload","func":"var jsonStr = msg.payload;\n//node.log(\"jsonStr: \" + jsonStr);\nvar jsonObj = JSON.parse(jsonStr);\n//node.log(\"text: \" + JSON.stringify(jsonObj.data.translations[0].translatedText));\nnode.log(\"text: \" + jsonObj.data.translations[0].translatedText);\nmsg.payload = jsonObj.data.translations[0].translatedText;\nreturn msg;","outputs":1,"noerr":0,"x":1371.0499572753906,"y":93.5,"wires":[["e44213e5.1bbdf"]]},{"id":"e44213e5.1bbdf","type":"service-dialog","z":"ec9d5035.1362b","name":"Converse","mode":"converse","dialog":"21a2513b-f14b-4bf8-a6c0-439d5849125a","clientid":"718631","converse":"715094","x":1526.0499572753906,"y":28,"wires":[["e8cac3b3.17354"]]},{"id":"e8cac3b3.17354","type":"function","z":"ec9d5035.1362b","name":"dialog to payload","func":"msg.payload = msg.dialog.response[0];\nreturn msg;","outputs":"1","noerr":0,"x":1685.0499572753906,"y":72,"wires":[["38ca6593.c7359a","3cd51859.c32ae8"]]},{"id":"38ca6593.c7359a","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":1781.0499572753906,"y":172,"wires":[]},{"id":"a20672cf.5df99","type":"function","z":"ec9d5035.1362b","name":"set google translate API properties","func":"\n// from http\n//var qStr=msg.payload;\n\n// from IOT\nvar qStr=msg.payload;\n//if(msg.payload!=='') {\n\nvar apiKey=\"AIzaSyAJtXyk1TA9wzLYvRySR-y1E3OtBEurdhE\";\nmsg.url=\"https://www.googleapis.com/language/translate/v2?key=\" + apiKey + \"&source=en&target=zh&q=\" + qStr;\n//}\nreturn msg;","outputs":1,"noerr":0,"x":1282.33349609375,"y":578.6666870117188,"wires":[["a35ec837.5ca138"]]},{"id":"a35ec837.5ca138","type":"http request","z":"ec9d5035.1362b","name":"","method":"GET","ret":"txt","url":"","x":1677.33349609375,"y":711.6666870117188,"wires":[["5bc523eb.a43adc"]]},{"id":"5bc523eb.a43adc","type":"function","z":"ec9d5035.1362b","name":"get translated payload","func":"var jsonStr = msg.payload;\n//node.log(\"jsonStr: \" + jsonStr);\nvar jsonObj = JSON.parse(jsonStr);\n//node.log(\"text: \" + JSON.stringify(jsonObj.data.translations[0].translatedText));\nnode.log(\"text: \" + jsonObj.data.translations[0].translatedText);\nmsg.payload = jsonObj.data.translations[0].translatedText;\nmsg.payload = msg.payload.toString();\n\nfor (var i = 0; i < 16; i++) {\n  \n      msg.payload[i]='哈';\n  \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1879.33349609375,"y":658.6666870117188,"wires":[["f66115b0.099ee8","3cd51859.c32ae8"]]},{"id":"f66115b0.099ee8","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"payload","x":2027.3336181640625,"y":749.6667022705078,"wires":[]},{"id":"4b51d49c.b4ae2c","type":"function","z":"ec9d5035.1362b","name":"TTS Speech Weather(Today)","func":"var payloadObj = JSON.parse(msg.payload);\nmsg.payload=\"Today's Weather Forecast : \"+payloadObj.forecasts[0].narrative;\nreturn msg;","outputs":1,"noerr":0,"x":989.933349609375,"y":789.2667388916016,"wires":[["a20672cf.5df99"]]},{"id":"3dc8a7f3.c23758","type":"http request","z":"ec9d5035.1362b","name":"Get Weather Information","method":"GET","ret":"txt","url":"https://4536d777-40e4-4d1a-90c8-49b24a4c4b9a:RA1XTbyDH9@twcservice.mybluemix.net:443/api/weather/v2/forecast/daily/10day?units=m&geocode=25.0550116%2C121.542075&language=en-US","x":473.66674041748047,"y":846.0000762939453,"wires":[["4b51d49c.b4ae2c","30432f.ffcfbcd"]]},{"id":"2d7354ae.d28cac","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"weather_ch","commandType":"","format":"json","name":"weather_ch","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":208.6666030883789,"y":845.3333892822266,"wires":[["3dc8a7f3.c23758"]]},{"id":"30432f.ffcfbcd","type":"delay","z":"ec9d5035.1362b","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":807.6666870117188,"y":857.6667022705078,"wires":[["4a9f87a3.b56078"]]},{"id":"4a9f87a3.b56078","type":"function","z":"ec9d5035.1362b","name":"Tomorrow Weather","func":"var payloadObj = JSON.parse(msg.payload);\nmsg.payload=\"Tomorrow's Weather Forecast : \"+payloadObj.forecasts[1].narrative;\nreturn msg;","outputs":1,"noerr":0,"x":1011.6666259765625,"y":853.6667022705078,"wires":[["a20672cf.5df99"]]},{"id":"419ba443.be645c","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"stock_ch","commandType":"","format":"json","name":"stock_ch","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":57.5,"y":1015.666748046875,"wires":[["42a882b6.bd577c"]]},{"id":"5c72274.fa38dd8","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":702.5000610351562,"y":1025,"wires":[]},{"id":"ef4bc6f0.10b438","type":"function","z":"ec9d5035.1362b","name":"","func":"var curr=msg.payload.USDTWD.Exrate\n//msg.payload='美金兌台幣 現價 :'+curr.Exrate+' 日期 :'+curr.UTC;\n//msg.payload='USD To CNY Exchange Rate :'+parseInt(curr.Exrate*100)+' , Date :'+curr.UTC;\nmsg.payload='目前美金對新台幣匯率為,一美金兌換'+curr+'塊新台幣';\n\n//msg.payload=parseInt(curr.Exrate*100);\n//msg.topic='Exchange Rate'\nreturn msg;","outputs":1,"noerr":0,"x":521.1666259765625,"y":1017.33349609375,"wires":[["5c72274.fa38dd8","3cd51859.c32ae8"]]},{"id":"4aa361ab.b55ca","type":"json","z":"ec9d5035.1362b","name":"","x":370.16668701171875,"y":1018.33349609375,"wires":[["ef4bc6f0.10b438"]]},{"id":"42a882b6.bd577c","type":"http request","z":"ec9d5035.1362b","name":"即時匯率","method":"GET","ret":"txt","url":"http://tw.rter.info/capi.php","x":219.16668701171875,"y":1016.3333740234375,"wires":[["4aa361ab.b55ca"]]},{"id":"e2266b51.ffa5d8","type":"inject","z":"ec9d5035.1362b","name":"","topic":"","payload":"do","payloadType":"string","repeat":"","crontab":"","once":false,"x":1353,"y":25,"wires":[["e44213e5.1bbdf"]]},{"id":"72dfc4fa.8d203c","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"light_sensor","commandType":"","format":"json","name":"light_sensor","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"x":72.5,"y":1139.7360229492188,"wires":[["f4846271.0b7ba","2a45b1fb.d90546"]]},{"id":"7fc518bd.803ae8","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"sound_sensor","commandType":"","format":"json","name":"Sound Sensor","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":83.5,"y":1263.546875,"wires":[["b41e45ea.4be1b8","11787579.9ae543"]]},{"id":"a9775275.5688b","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"u_sensor","commandType":"","format":"json","name":"Ultrasonic Distance","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":106.5,"y":1353.5467529296875,"wires":[["47bf8166.b8408","df66adf7.f213f"]]},{"id":"f4846271.0b7ba","type":"function","z":"ec9d5035.1362b","name":"","func":"var msg1;\nmsg1={payload:\"\"};\n\nif(msg.payload.d.light>50)\n{\n    msg1.payload='dark';\n    msg=msg1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":293.5,"y":1145.5467874136716,"wires":[["26eb31ea.d914ce","496cc41b.b6933c"]]},{"id":"26eb31ea.d914ce","type":"ibmiot out","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"74da385412a3","deviceType":"robot","eventCommandType":"ch_output","format":"string","data":"msg.payload","name":"ch_behavior","service":"registered","x":523.6517639160156,"y":1214.6668090820312,"wires":[]},{"id":"496cc41b.b6933c","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":504.6517639160156,"y":1134.6666870117188,"wires":[]},{"id":"47bf8166.b8408","type":"function","z":"ec9d5035.1362b","name":"","func":"var msg1;\nmsg1={payload:\"\"};\n\nif(msg.payload.d.ultrasonic<10)\n{\n    msg1.payload='too close';\n    msg=msg1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":289.6517333984375,"y":1278.3334350585938,"wires":[["496cc41b.b6933c"]]},{"id":"b41e45ea.4be1b8","type":"function","z":"ec9d5035.1362b","name":"","func":"var msg1;\nmsg1={payload:\"\"};\n\nif(msg.payload.d.sound>250)\n{\n    msg1.payload='too loud';\n    msg=msg1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":289.6517639160156,"y":1203.3334350585938,"wires":[["496cc41b.b6933c"]]},{"id":"3fe3b753.c01c48","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"stock_en","commandType":"","format":"json","name":"stock_ch","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":57.5,"y":1074.3334045410156,"wires":[["1a15d078.e5ea3"]]},{"id":"1a15d078.e5ea3","type":"http request","z":"ec9d5035.1362b","name":"即時匯率","method":"GET","ret":"txt","url":"http://tw.rter.info/capi.php","x":235.33334350585938,"y":1075.0000305175781,"wires":[["509e75bd.af618c"]]},{"id":"509e75bd.af618c","type":"json","z":"ec9d5035.1362b","name":"","x":375.3333435058594,"y":1078.0001525878906,"wires":[["8d67b169.72985"]]},{"id":"8d67b169.72985","type":"function","z":"ec9d5035.1362b","name":"","func":"var curr=msg.payload.USDTWD.Exrate;\n//msg.payload='美金兌台幣 現價 :'+curr.Exrate+' 日期 :'+curr.UTC;\n//msg.payload='USD To CNY Exchange Rate :'+parseInt(curr.Exrate*100)+' , Date :'+curr.UTC;\nmsg.payload='USD To NT Exchange Rate is'+curr+ 'NT dollars for one US dollar';\n\n//msg.payload=parseInt(curr.Exrate*100);\n//msg.topic='Exchange Rate'\nreturn msg;","outputs":1,"noerr":0,"x":523.6666259765625,"y":1070.3334045410156,"wires":[["4e066128.b1f9a"]]},{"id":"93dbd0e5.6c243","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":359,"y":255.6666488647461,"wires":[]},{"id":"85367c96.13bbb8","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"imagetext","commandType":"","format":"json","name":"imagetext","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":1084,"y":1066,"wires":[["9806a926.84dae"]]},{"id":"9806a926.84dae","type":"debug","z":"ec9d5035.1362b","name":"","active":true,"console":"false","complete":"false","x":1170,"y":1131,"wires":[]},{"id":"b5f605b1.50ab4","type":"function","z":"ec9d5035.1362b","name":"","func":"if(msg.payload.sceneText==='')\nmsg.payload='Nonread'\nelse\nmsg.payload=msg.payload.sceneText\nreturn msg;","outputs":1,"noerr":0,"x":1306,"y":1047,"wires":[["4e066128.b1f9a"]]},{"id":"df66adf7.f213f","type":"freeboard","z":"ec9d5035.1362b","name":"Ultrasonic Distance","x":203,"y":1422,"wires":[]},{"id":"2a45b1fb.d90546","type":"freeboard","z":"ec9d5035.1362b","name":"Light Sensor","x":128,"y":1200,"wires":[]},{"id":"11787579.9ae543","type":"freeboard","z":"ec9d5035.1362b","name":"Sound Sensor","x":137,"y":1313,"wires":[]},{"id":"111ad1e6.eee52e","type":"ibmiot in","z":"ec9d5035.1362b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"voicecmd_ch","commandType":"","format":"json","name":"voicecmd_ch","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":248.89581298828125,"y":163,"wires":[["d04d7231.2fb29","c8e584f5.371a78","a49f221d.5b60e"]]}]